// $sand-color: sandybrown;
// $green-color: chartreuse;

//**** Thèmes Adobe d'après l'image de fond ****//
// Thème coloré :
$A: #CFD989;
$B: #F2DC6B;
$C: #BF9106;
$D: #D97925;
$E: #A63005;

// // Thème lumineux :
// $A: #BBBF3B;
// $B: #F2DA5E;
// $C: #BF9106;
// $D: #D97925;
// $E: #A63005;

// // Thème doux : 
// $A: #CFD989;
// $B: #F2DA5E;
// $C: #D99543;
// $D: #D97925;
// $E: #A63005;

// // Thème profond : 
// $A: #CFD989;
// $B: #8C770F;
// $C: #F2DD72;
// $D: #BF5E0A;
// $E: #A63005;

// // Thème sombre : 
// $A: #515916;
// $B: #8C8418;
// $C: #26220E;
// $D: #F2DD72;
// $E: #8C2804;


// // **** Variables pour customiser la navbar-dark de bootstrap **** //
// $navbar-dark-color:                 $D;
// $navbar-dark-hover-color:           $B;
// $navbar-dark-active-color:          $B;
// $navbar-dark-disabled-color:        rgba($B, .25);
// $navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
// $navbar-dark-toggler-border-color:  rgba($B, .1);

// ********* POLICES *************// 
@font-face {
	font-family: BorisBlackBloxx;
	src: url('fonts/BorisBlackBloxx.woff');
}

@font-face{
    font-family : rimouski;
    src : url('fonts/rimouski.woff');
    src : url('fonts/rimouski.woff') format('woff');
}


body {

    

    // ~~~~~~~~ Body Background image ~~~~~~~~ //
    background-color: black;
	// background-image:url("../background-patterns/bedge_grunge/bedge_grunge.png");
	// background-image:url("../background-patterns/cheap_diagonal_fabric/cheap_diagonal_fabric.png");
	background-image:url("../background-patterns/ep_naturalblack/ep_naturalblack.png");
	// background-image:url("../background-patterns/sandpaper/sandpaper.png");
	// background-image:url("../background-patterns/tex2res4/tex2res4.png");
	// background-position:center;
	// background-repeat:repeat;
	// background-size: 100% auto;

    // ~~~~~~~~~~~~~~ Body Fonts ~~~~~~~~~~~~~ //
    p, a, li, label, button {
        font-family : rimouski;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $E;
        font-family: BorisBlackBloxx;
        text-align: center;
    }

    img {
        object-fit: cover;
    }

// ##################################################################### //
// ######################### SECTION TEMPLATES ######################### //
// ##################################################################### //

// ====================================================== //
// ============= Nav connecté sur téléphone ============= //
// ====================================================== //
    #nav-logged-phone {
        background-color: $D;
        min-height: 35px;
        a {
            color: black;
        }
        .j-img-profil-nav-phone {
            width: 40px;
            height: 40px;
            border: 4px $E solid;
        }
        i {
            font-size: 25px;
            color: $E
        }
    }

// ====================================================== //
// ================== Header principal ================== //
// ====================================================== //
    header {
        .navbar, .navbar-dark {    
            min-height: 100px;
            background-color: $E;
            
            // https://getbootstrap.com/docs/5.0/components/navbar/
            .nav-link, .navbar-nav {
                color: $D;
            }
        }
    }

// ====================================================== //
// ======================= footer ======================= //
// ====================================================== //
footer {
    background-color: $E;
    min-height: 50px;
    
    color: white;
    text-align: center;
    font-size: small;

    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: $B;
    }
}

// ====================================================== //
// =============== grosse div aside + main ============== //
// ====================================================== //
    // #j-big-container = la div qui englobe le main et l'aside
    #j-big-container {
        max-width: 1000px;
        margin: auto;
        
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        
// ====================================================== //
// =========== aside (connecté.e, format ordi) ========== //
// ====================================================== //
        aside {
            width: 250px;
            background-color: $D;

            .j-img-profil {
                width: 50px;
                height: 50px;
                // border-radius: 25px;
            }

            .j-accordion {
                border: none;
                border-radius: 0;
                background-color: $D;

                .j-accordion-item {
                    background-color: $A;
                    // .j-accordion-header {
                        //     font-size: small;
                        // }
                    a {
                        color: black;
                        font-size: small;
                        // text-align: center;
                    }

                    .accordion-body {
                        padding: 0;
                    }
                    .j-accordion-button {
                        color: $E;
                        background-color: $B;
                        font-size: small;
                    }

                    .list-group-item {
                        background-color: $A;
                        font-size: small;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        // align-items: center;
                        flex-direction: column;

                        .j-a-event {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p {
                                margin: 0;
                                text-align: center;
                            }

                        }

                        .j-img-group {
                            width: 30px;
                            height: 30px;
                        }
                        
                    }

                }
            }
            
        }

// ====================================================== //
// ======================== main ======================== //
// ====================================================== //
        main {
            max-width: 700px;
            // padding: 16px;
            background-color: $B;
    
// ##################################################################### //
// ######################## ELEMENTS SPECIFIQUES ####################### //
// ##################################################################### //
//  SECTION A PARTIR D'ICI, TOUT EST DANS MAIN  //

            // ~~~~~~~~~~~ Bootstrap cards ~~~~~~~~~~~ //
            .card {
                
                .j-card-header {
                    background-color: $C;
                }
                .j-card-footer {
                    background-color: $C;
                    color: $B;
                }
    
                img {
                    max-width: 100%;
                }
            }

            #j-img-page-profil {
                width: 100px;
                height: 100px;
            }

            // ~~~~~~~~~~ HEADER page groupe ~~~~~~~~~ //
            #j-group-header {
                nav {
                    background-color: $A;
                    border-bottom: 2px solid $C;
                    div{
                        // border-left: 1px $E solid;
                        // border-right: 1px $E solid;
                        a {
                            color: $E;
                            text-decoration: none;
                        }
                        a:hover {
                            color: $B;
                            background-color: $E;
                        }
                    }
                }
            }


//  SECTION A PARTIR D'ICI, ON SORT DU MAIN  //
        }
    }
}