@font-face {
  font-family: BorisBlackBloxx;
  src: url("fonts/BorisBlackBloxx.woff");
}

@font-face {
  font-family: rimouski;
  src: url("fonts/rimouski.woff");
  src: url("fonts/rimouski.woff") format("woff");
}

/* line 131, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides {
  background-color: black;
  color: #ccc;
}

/* line 143, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides a, #bootstrap-overrides li, #bootstrap-overrides label, #bootstrap-overrides button {
  font-family: rimouski;
  letter-spacing: 0.5px;
}

/* line 148, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides p {
  font-family: rimouski;
}

/* line 152, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides h1, #bootstrap-overrides h2, #bootstrap-overrides h3, #bootstrap-overrides h4, #bootstrap-overrides h5, #bootstrap-overrides h6 {
  color: #FFB300;
  font-family: BorisBlackBloxx;
}

/* line 159, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides img {
  object-fit: cover;
}

/* line 170, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #nav-logged-phone {
  background-color: #D97925;
  min-height: 35px;
}

/* line 173, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #nav-logged-phone a {
  color: black;
}

/* line 176, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #nav-logged-phone .j-img-profil-nav-phone {
  width: 40px;
  height: 40px;
  border: 4px #A63005 solid;
}

/* line 181, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #nav-logged-phone i {
  font-size: 25px;
  color: #A63005;
}

/* line 191, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides header .navbar, #bootstrap-overrides header .navbar-dark {
  background-color: #1d110b;
  border-bottom-style: solid;
  border-color: #7d4931;
  border-bottom-width: 1px;
}

/* line 199, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides header .navbar .nav-link, #bootstrap-overrides header .navbar .navbar-nav, #bootstrap-overrides header .navbar-dark .nav-link, #bootstrap-overrides header .navbar-dark .navbar-nav {
  color: #D97925;
}

/* line 208, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides footer {
  background-color: #1d110b;
  border-top-style: solid;
  border-color: #a96342;
  border-top-width: 1px;
  color: white;
  text-align: center;
  font-size: small;
}

/* line 219, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides footer a {
  color: white;
  text-decoration: none;
  padding: 0px 5px;
}

/* line 224, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides footer a:hover {
  color: #F2DA5E;
}

/* line 233, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/* line 244, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside {
  width: 250px;
  background-color: #D97925;
}

/* line 248, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-img-profil {
  width: 50px;
  height: 50px;
}

/* line 254, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion {
  border: none;
  border-radius: 0;
  background-color: #D97925;
}

/* line 259, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item {
  background-color: #BBBF3B;
}

/* line 264, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item a {
  color: black;
  font-size: small;
}

/* line 270, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .accordion-body {
  padding: 0;
}

/* line 273, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .j-accordion-button {
  color: #A63005;
  background-color: #F2DA5E;
  font-size: small;
}

/* line 279, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .list-group-item {
  background-color: #BBBF3B;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

/* line 288, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .list-group-item .j-a-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 292, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .list-group-item .j-a-event p {
  margin: 0;
  text-align: center;
}

/* line 299, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .list-group-item .j-img-group {
  width: 30px;
  height: 30px;
}

/* line 304, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container aside .j-accordion .j-accordion-item .list-group-item i {
  font-size: 18px;
}

/* line 318, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main {
  max-width: 700px;
  background-color: #1d110b;
  /*.link_groupIndex {
                text-decoration: none;
                color: black;
                .myGroupIndex {
                    border: 4px solid $D;
                    h5 {
                        color: $D;
                    }
                }
                .notMyGroupIndex {
                    border: 4px solid $E;
                }
            }*/
}

/* line 329, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main .card {
  color: #EA5800;
  background-color: #4d2d1e;
  border-style: solid;
  border-color: #a96342;
  border-top-width: 1px;
}

/* line 342, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main .card .j-card-header {
  background-color: #bd8400;
}

/* line 345, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main .card .j-card-footer {
  background-color: #FFB300;
  color: #F2DA5E;
}

/* line 350, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main .card img {
  max-width: 100%;
}

/* line 355, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main #j-img-page-profil {
  width: 100px;
  height: 100px;
}

/* line 362, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main #j-group-header nav {
  background-color: #BBBF3B;
  border-bottom: 2px solid #BF9106;
}

/* line 368, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main #j-group-header nav div a {
  color: #A63005;
  text-decoration: none;
}

/* line 372, ../wamp64/www/git/jamaizer/public/scss/style.scss */
#bootstrap-overrides #j-big-container main #j-group-header nav div a:hover {
  color: #F2DA5E;
  background-color: #A63005;
}

/*# sourceMappingURL=style.css.map */